[user]
    name = patadune
    email = patadune@gmail.com
[alias]
    ap = add --patch
    st = status
    ci = commit
    cia = commit --amend
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff --color
    dc = diff --color --cached
    f = fetch
    fa = fetch --all
    fc = !git fetch --all && git checkout
    id = rev-parse --short HEAD
    up = "!f(){ git push origin \"${1:-HEAD}\":refs/for/master; };f"
    rb = rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    rba = rebase --abort
    track = "!f(){ git branch -u \"${1:-origin/master}\"; };f"
    recent = branch --sort=-committerdate -v

    log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-me    = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
    log-nice  = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
    excludesfile = ~/.gitignore
    pager = less -r

[branch]
    autoSetupRebase = always

[push]
    default = current
    recurseSubmodules = check

[rebase]
    autoSquash = true

[color]
    ui = auto

[diff]
    renames = true
    submodule = log

[rerere]
    enabled = 1

[init]
    templatedir = ~/.git-templates

[commit]
    verbose = true

[fetch]
    recurseSubmodules = on-demand

[status]
    submoduleSummary = true
