[user]
    name = patadune
    email = patadune@gmail.com
[alias]
    ap = add --patch
    st = status
    ci = commit
    cia = commit --amend
    br = branch
    co = checkout
    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort
    df = diff --color
    dc = diff --color --cached
    f = fetch
    fa = fetch --all
    id = rev-parse --short HEAD
    up = "!f(){ git push origin \"${1:-HEAD}\":refs/for/master; };f"
    rb = rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip
    pl = pull
    pli = pull --rebase=interactive
    track = "!f(){ git branch -u \"${1:-origin/master}\"; };f"
    start = "!f(){ git checkout -b \"${1}\" && git branch -u origin/master; };f"
    recent = branch --sort=-committerdate -v

    log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-me    = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
    log-nice  = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
    excludesfile = ~/.gitignore
    pager = delta

[branch]
    autoSetupRebase = always

[push]
    default = current
    recurseSubmodules = check

[rebase]
    autoSquash = true
    autoStash = true

[color]
    ui = auto

[diff]
    renames = true
    submodule = log

[rerere]
    enabled = 1

[init]
    templatedir = ~/.git-templates

[commit]
    verbose = true

[fetch]
    recurseSubmodules = true

[status]
    submoduleSummary = true

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    syntax-theme = gruvbox-dark
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
