[user]
    name = patadune
    email = patadune@gmail.com
[alias]
    st = status
    ci = commit -v
    br = branch
    co = checkout
    df = diff --color
    dc = diff --color --cached
    f = fetch
    fa = fetch --all
    id = rev-parse --short HEAD

    log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-me    = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
    log-nice  = log --graph --decorate --pretty=oneline --abbrev-commit

[core]
    excludesfile = ~/.gitignore
    pager = less -r

[push]
    default = current

[color]
    ui = auto

[diff]
    renames = true

[rerere]
    enabled = 1

[init]
	templatedir = ~/.git-templates
