[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
